.fondoHeader {
  width: 100vw;
  height: 100px;
  background-image: url(../imagenes/fondo1.jpg);
  background-repeat: repeat;
  border: 10px solid black;
  padding: 10px 10px 10px 10px; }

.logoHeader {
  height: 80px;
  width: 80px; }

.letraHeader {
  font-family: 'Stardos Stencil';
  color: white; }

.nav {
  top: 0px; }

.menu {
  color: white;
  list-style-type: none;
  font-family: 'Stardos Stencil';
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center; }

.gridExtendDos, #encuestaGrid, #nosotrosGrid, #galeriaGrid, #serviciosGrid, #indexGrid, #footerGrid {
  display: grid;
  width: 100%; }

.main.fondoMain {
  background-image: url(../imagenes/fondo2.jpg);
  background-repeat: repeat;
  background-size: cover;
  width: 100vw;
  height: 100%;
  border: 10px solid black;
  padding: 10px 10px 10px 10px; }
  .main.fondoMain.letraMain {
    color: white;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    font-size: 15px; }

.main .tituloPrincipal {
  color: yellow;
  font-family: "Stardos Stencil";
  font-weight: bolder;
  font-size: 60px;
  text-align: center; }
  .main .tituloPrincipal .tituloMain {
    font-family: "Stardos Stencil";
    text-align: left; }

.main .mainDos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }

.main .mainGaleria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.main .imagenesCarousel {
  width: 100vw;
  height: 400px; }

.main .nosotrosParrafo {
  border: 1px solid yellow;
  padding: 10px 10px 10px 10px;
  margin: 20px 20px 20px 20px; }

.main .serv1 {
  border: 1px solid yellow;
  padding: 10px 10px 10px 10px;
  margin: 20px 20px 20px 20px; }

.main .serv2 {
  border: 1px solid yellow;
  padding: 10px 10px 10px 10px;
  margin: 20px 20px 20px 20px; }

.main .serv3 {
  border: 1px solid yellow;
  padding: 10px 10px 10px 10px;
  margin: 20px 20px 20px 20px; }

.main .serv4 {
  border: 1px solid yellow;
  padding: 10px 10px 10px 10px;
  margin: 20px 20px 20px 20px; }

.main .serv5 {
  border: 1px solid yellow;
  padding: 10px 10px 10px 10px;
  margin: 20px 20px 20px 20px; }

#encuestaGrid {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 100px 500px;
  grid-template-areas: "a1 a1 a1" "b1 b1 b0" "c0 c1 c1" "d1 d1 d1";
  justify-items: center;
  align-items: center; }

#encuesta {
  grid-area: c1; }

#nosotrosGrid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px 100px 170px 170px;
  grid-template-areas: "a1 a1 a1 a1" "b1 b1 b0 bo" "c0 c0 c1 c1" "c0 c0 c1 c1" "d1 d1 d1 d1";
  justify-items: center;
  align-items: center; }

#parrafo {
  grid-area: c1; }

#galeriaGrid {
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 150px 100px 50px 310px 310px 50px 310px 50px 310px;
  grid-template-areas: "a1 a1 a1" "b1 b1 b1" "c1 c1 c0" "d1 d2 d3" "d0 d4 d5" "e1 e0 e0" "f1 f1 f2" "g1 g0 g0" "h1 h2 h3";
  align-items: center;
  justify-items: center; }

#subTituloUno {
  grid-area: b1;
  justify-self: left; }

#subTituloDos {
  grid-area: c1;
  justify-self: left; }

#fotoUno {
  grid-area: d1; }

#fotoDos {
  grid-area: d2; }

#fotoTres {
  grid-area: d3; }

#fotoCuatro {
  grid-area: d4; }

#subTituloTres {
  grid-area: e1;
  justify-self: left; }

#fotoCinco {
  grid-area: f1; }

#subTituloCuatro {
  grid-area: g1;
  justify-self: left; }

#fotoSeis {
  grid-area: h1; }

#fotoSiete {
  grid-area: h2; }

#fotoOcho {
  grid-area: h3; }

#serviciosGrid {
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 150px 80px 100px 150px 150px 150px 150px 150px;
  grid-template-areas: "a0 a1 a1 a1 a1 a1 a1 a2" "b1 b1 b1 b1 b0 b0 b0 b0" "c0 c1 c1 c1 c1 c2 c2 c2" "d1 d1 d1 d1 d0 d0 d0 d0" "e0 e1 e1 e1 e1 e2 e2 e2" "f0 f0 f1 f1 f1 f1 f2 f2" "g0 g0 g0 g1 g1 g1 g1 g2" "h0 h0 h0 h0 h1 h1 h1 h1"; }

#a1 {
  grid-area: a1;
  grid-area: a1; }

#a2 {
  grid-area: b1; }

#a3 {
  grid-area: c1;
  justify-self: center;
  align-self: center; }

#a4 {
  grid-area: d1; }

#a5 {
  grid-area: e1; }

#a6 {
  grid-area: f1; }

#a7 {
  grid-area: g1; }

#a8 {
  grid-area: h1; }

#indexGrid {
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 150px 100px 250px 250px 250px 400px 100px;
  grid-template-areas: "a1 a1 a1 a1" "b1 b1 b0 b0" "c1 c1 d1 d1" "c1 c1 e1 e1" "c1 c1 e1 e1" "f1 f1 f1 f1" "j1 j1 j1 j1"; }

#a1 {
  grid-area: a1; }

#b1 {
  grid-area: b1; }

#c1 {
  grid-area: c1;
  justify-self: center;
  align-self: center; }

#d1 {
  grid-area: d1;
  justify-self: center;
  align-self: center; }

#e1 {
  grid-area: e1;
  justify-self: center;
  align-self: center; }

#a6 {
  grid-area: f1; }

#g1 {
  grid-area: j1;
  justify-self: center;
  align-self: center; }

.gridExtendDos, #encuestaGrid, #nosotrosGrid, #galeriaGrid, #serviciosGrid, #indexGrid, #footerGrid {
  display: grid;
  width: 100%; }

#footerGrid {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 140px;
  grid-template-areas: "a1 b0 c1";
  justify-items: center;
  align-items: center; }

#nombreDireccion {
  grid-area: a1; }

#redeSociales {
  grid-area: c1;
  justify-self: right; }

.listaDesordenada {
  color: white;
  list-style-type: square;
  font-family: 'Roboto', sans-serif;
  text-align: left; }

.listaOrdenada {
  color: white;
  list-style-type: inherit;
  font-family: 'Roboto', sans-serif;
  text-align: left; }

.fondoFooter {
  background-image: url(../imagenes/fondo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100%; }

.footer {
  border: 10px double black;
  padding: 10px 10px 10px 10px;
  width: 100vw;
  height: 150px; }

.tituloFooter {
  font-family: 'Stardos Stencil';
  text-align: left; }

.letraFooter {
  color: white;
  font-family: 'Stardos Stencil';
  text-align: left; }

.logosFooter {
  width: 10%;
  height: 10%;
  display: inline-block; }

.redesSociales {
  bottom: 20px;
  right: 30px; }

.gridExtendDos, #encuestaGrid, #nosotrosGrid, #galeriaGrid, #serviciosGrid, #indexGrid, #footerGrid {
  display: grid;
  width: 100%; }

/*media para mobile*/
@keyframes redes {
  0% {
    transform: scale(1.1, 1.1); }
  25% {
    transform: rotate(3deg); }
  50% {
    transform: scale(1.2, 1.2);
    filter: grayscale(1); }
  75% {
    transform: rotate(3deg); }
  100% {
    transform: scale(1.3, 1.3);
    filter: grayscale(1); } }

* {
  margin: 0;
  padding: 0; }

.bodyUno {
  width: 100vw;
  height: 1600px; }

.bodyDos {
  width: 100vw;
  height: 1300px; }

a {
  text-decoration: none; }

.botonAlMapa {
  width: 200px;
  height: 100px;
  background-color: white;
  color: black;
  font-size: 15px;
  font-family: "Stardos Stencil";
  border: 5px solid yellow; }

.fotos {
  height: 300px;
  width: 300px;
  margin: 2px 2px 2px 2px; }

.textoFotos {
  font-family: 'Roboto', sans-serif; }

img {
  width: 100%;
  height: 100%;
  object-fit: contain; }

.imgHome {
  margin: 20px 20px 20px 20px; }

.encuesta {
  color: white;
  list-style-type: none;
  font-family: 'roboto', sans-serif;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
  border: 5px double grey;
  padding: 1px 1px 1px 1px; }

.linkUno:hover {
  animation-name: redes;
  animation-duration: 2s;
  animation-iteration-count: 1; }

.linkDos:hover {
  filter: grayscale(1);
  transform: rotatex(360deg);
  transition: all 1s; }

@media only screen and (max-width: 600px) {
  .tituloPrincipal {
    color: yellow;
    font-family: "Stardos Stencil";
    font-weight: bolder;
    font-size: 35px !important;
    text-align: center; }
    .tituloPrincipal .tituloMain {
      font-family: "Stardos Stencil";
      text-align: center; }
  .letraMain {
    color: white;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    font-size: 13px !important; }
  .flexExtend, #indexGrid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start; }
  .gridExtend, #serviciosGrid, #galeriaGrid, #encuestaGrid, #nosotrosGrid, #footerGrid {
    display: grid;
    width: 100%;
    height: max-content;
    grid-template-columns: 95%; }
  #serviciosGrid {
    grid-template-rows: 150px 50px 80px 100px 150px 150px 150px 150px 150px;
    grid-template-areas: "a1" "x1" "b1" "c1" "d1" "e1" "f1" "g1" "h1"; }
  #galeriaGrid {
    grid-template-rows: 150px 100px 50px 300px 300px 300px 300px 50px 300px 50px 300px 300px 300px;
    grid-template-areas: "a1" "b1" "c1" "d1" "d2" "d3" "d4" "e1" "f1" "g1" "h1" "h2" "h3";
    align-items: center;
    justify-items: center; }
  #encuestaGrid {
    grid-template-rows: 150px 50px 100px 500px;
    grid-template-areas: "a1" "h1" "b1" "c1" "d1";
    justify-items: center;
    align-items: center; }
  #nosotrosGrid {
    grid-template-rows: 150px 200px 350px 450px;
    grid-template-areas: "a1" "b1" "c1" "d1";
    justify-items: center;
    align-items: center; }
  #footerGrid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 140px;
    grid-template-areas: "a1 b0 c1";
    justify-items: center;
    align-items: center;
    font-size: 13px !important; } }
