$colorLetra: white;
$colorTitulo: yellow;
$paddingFondo: 10px 10px 10px 10px;
$borderCajas: 10px solid black;
$fontTitulos: 'Stardos Stencil';
$fontMain: 'Roboto', sans-serif;
$fontSizeTitulo: 60px;
$fontSizeTituloMediaQ: 35px;
$fontSizeMain: 15px;
$fontSizeMainMediaQ: 13px;
$imagenFondoHeader:  url(../imagenes/fondo1.jpg);
$imagenFondoMain: url(../imagenes/fondo2.jpg);
$imagenFondoFooter: url(../imagenes/fondo1.jpg);
$borderNosotros: 1px solid yellow;
$paddingNosotros: 10px 10px 10px 10px;
$marginNosotros: 20px 20px 20px 20px;
$altoBoton:100px;
$anchoBoton: 200px;
$colorBoton: white;
$colorLetraBoton: black;
$fontSizeBoton: 15px;
$fontBoton: 'Stardos Stencil';
$borderBoton: 5px solid yellow;
